.outside-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 1px red solid;
  background-color: red;
}

.display-container{
  float: left;
}

.outside-display{ 
  border: 1px solid;
  height: 100vh;
  width: 100vw;
  
}

table, td, tr{
  border: 1px solid black;
  width: 80%;
}

